<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"/>
	<title>The Wheel of Time Text Toys</title>
</head>

<body>
	<header>
		<h1>The Wheel of Time - Text Toys</h1>
		<nav>
			<h2>The Books</h2>
			<ul>
				<li>Book 0: <cite><a href="/book?bkNum=0">New Spring</a></cite></li>
				<li>Book 1: <cite><a href="/book?bkNum=1">The Eye of the World</a></cite></li>
				<li>Book 2: <cite><a href="/book?bkNum=2">The Great Hunt</a></cite></li>
				<li>Book 3: <cite><a href="/book?bkNum=3">The Dragon Reborn</a></cite></li>
				<li>Book 4: <cite><a href="/book?bkNum=4">The Shadow Rising</a></cite></li>
				<li>Book 5: <cite><a href="/book?bkNum=5">The Fires of Heaven</a></cite></li>
				<li>Book 6: <cite><a href="/book?bkNum=6">Lord of Chaos</a></cite></li>
				<li>Book 7: <cite><a href="/book?bkNum=7">A Crown of Swords</a></cite></li>
				<li>Book 8: <cite><a href="/book?bkNum=8">The Path of Daggers</a></cite></li>
				<li>Book 9: <cite><a href="/book?bkNum=9">Winter&#39;s Heart</a></cite></li>
				<li>Book 10: <cite><a href="/book?bkNum=10">Crossroads of Twilight</a></cite></li>
				<li>Book 11: <cite><a href="/book?bkNum=11">Knife of Dreams</a></cite></li>
				<li>Book 12: <cite><a href="/book?bkNum=12">The Gathering Storm</a></cite></li>
				<li>Book 13: <cite><a href="/book?bkNum=13">Towers of Midnight</a></cite></li>
				<li>Book 14: <cite><a href="/book?bkNum=14">A Memory of Light</a></cite></li>
			</ul>
		</nav>
	</header>

	<section>
		<h2>Search the Books</h2>
		<form action="/search" method="GET">
			<label for="wotQuery">Question or Search</label>
			<input type="text" name="query" id="wotQuery"/>
			<input type="submit" value="Submit"/>
		</form>
	</section>
</body>

</html>
